tencent_monitor_workflow.json
[{"updatedAt":"2026-05-04T07:59:59.368Z","createdAt":"2026-05-04T07:59:20.531Z","id":"nkbDvQ0SBKJGrFvg","name":"Monitor Tencent Developer & Log to File (Fixed)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"trigger-monitor","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"290f369a-7c7b-4729-b43e-b69e7ececdd6","name":"Webhook Trigger","webhookId":"69bc1d90-33a9-4ef4-84ff-90490941cbf3"},{"parameters":{"url":"https://cloud.tencent.com/developer/user/10809644","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0],"id":"9dcf68db-591f-41d9-b3ff-79a095bc12f7","name":"Get User Page"},{"parameters":{"extractionValues":{"values":[{"key":"title","cssSelector":"h3.com-3-article-panel-title"}]},"options":{}},"type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[400,0],"id":"e0058bb9-d384-4abd-a25c-5f156a43fcdc","name":"Extract Title"},{"parameters":{"jsCode":"return { data: $json.title + '\\n' };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0],"id":"b6796201-aee1-46aa-8992-cc58fad1c4e3","name":"Prepare Binary Data"},{"parameters":{"mode":"jsonToBinary","options":{}},"type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[800,0],"id":"fd8efb98-7afb-4718-89e2-9e82198b72df","name":"Convert to Binary"},{"parameters":{"operation":"write","fileName":"/home/node/.n8n-files/logs/result.txt","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1008,0],"id":"03892f65-772f-4af0-bfed-92d0c98c5eb9","name":"Write to File"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get User Page","type":"main","index":0}]]},"Get User Page":{"main":[[{"node":"Extract Title","type":"main","index":0}]]},"Extract Title":{"main":[[{"node":"Prepare Binary Data","type":"main","index":0}]]},"Prepare Binary Data":{"main":[[{"node":"Convert to Binary","type":"main","index":0}]]},"Convert to Binary":{"main":[[{"node":"Write to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"10b8d4ae-bc61-47a8-820a-5be4841d1051","activeVersionId":"10b8d4ae-bc61-47a8-820a-5be4841d1051","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-04T07:59:20.538Z","createdAt":"2026-05-04T07:59:20.538Z","role":"workflow:owner","workflowId":"nkbDvQ0SBKJGrFvg","projectId":"DRRVW6guCEGcheIL","project":{"updatedAt":"2026-05-04T07:37:43.752Z","createdAt":"2026-05-04T07:24:54.119Z","id":"DRRVW6guCEGcheIL","name":"jj wang <anio.wang@yulon-group.com>","type":"personal","icon":null,"description":null,"creatorId":"b398f966-7353-4383-94b8-2aaeaca62b68"}}],"versionMetadata":{"name":"Version 10b8d4ae","description":""}}]